/* Add here all your CSS customizations */


.custom-negative-margin-top {
    margin-top: -150px;
}

.custom-plus {
    position: relative;
}

.custom-text-size-1 {
    font-size: 6.4em;
}

.custom-btn-pos-1 {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    margin-top: -37px;
}